<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Hotels</h1>
        <div>
            <table>
                <tr>
                    <th>
                        Hotel Name
                    </th>
                    <th>
                        Avaible
                    </th>
                    <th>
                        Owner
                    </th>
                </tr>
                <tr>
                    <td>
                        Отель 1
                    </td>
                    <td>
                        14
                    </td>
                    <td>
                        Дмитрий
                    </td>
                </tr>
                <tr>
                    <td>
                        Отель 2
                    </td>
                    <td>
                        14
                    </td>
                    <td>
                        Дмитрий
                    </td>
                </tr>
                <tr>
                    <td>
                        Отель 3
                    </td>
                    <td>
                        14
                    </td>
                    <td>
                        Дмитрий
                    </td>
                </tr>
                <tr>
                    <td>
                        Отель 4
                    </td>
                    <td>
                        14
                    </td>
                    <td>
                        Дмитрий
                    </td>
                </tr>
                <tr>
                    <td>
                        Отель 5
                    </td>
                    <td>
                        14
                    </td>
                    <td>
                        Дмитрий
                    </td>
                </tr>
            </table>
        </div>
</body>
</html>