{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>It works!</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
      <button id="b" style="width: 200px; height : 100px"></button>
    </div>
  </div>
</div>

<script src="../../../public/js/jquery-2.2.4.min.js"></script>
<script src="../../../public/js/test.js"></script>



{{template "footer.html" .}}
